@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif;
    color: #17026B;
}

@media screen and (min-width: 480px) {
    .card:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }
}

.prompt::-webkit-scrollbar {
    width: 5px;
}
 
.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}

body {
  overflow-x: hidden;
}

.w-40{
  width: '15px' !important
}

.page-loader {position: fixed; left: 0; top: 0; width: 100%; height: 100vh; z-index: 99; background: rgba(47, 54, 61, .9) !important; display: flex; align-items: center; justify-content: center;}

.column-2-sticky tr th:first-child {position: sticky; z-index: 1;  width: 140px; left: 0; background: #17026B;}
.column-2-sticky tr th:nth-child(2) {position: sticky; z-index: 1; left: 140px; background: #17026B;}

.column-2-sticky tr td:first-child {position: sticky; z-index: 1; left: 0; background-color: #fff;}
.column-2-sticky tr td:nth-child(2) {position: sticky; z-index: 1; left: 140px; background-color: #fff;}

.column-1-sticky tr th:first-child {position: sticky; z-index: 1;  width: 200px; left: 0; background: #17026B;}
.column-1-sticky tr td:first-child {position: sticky; z-index: 1; left: 0; background-color: #fff;}
