name: remote ssh command
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: ssh-pipeline
      # You may pin to the exact commit or the version.
      # uses: cross-the-world/ssh-pipeline@7f022867934a210af826af99ef80d96f03a094d5
      uses: cross-the-world/ssh-pipeline@v1.2.0
      with:
        # ssh remote host
        host: 173.212.193.155
        # ssh remote port
        port: 22
        # ssh remote user
        user: root
        # content of ssh private key. ex raw content of ~/.ssh/id_rsa
        key: ${{ secrets.TECHLEV_SSH_HOST_KEY }}
        # ssh remote password
        # connection timeout to remote host
        connect_timeout: 30
        # execute commands on ssh
        script: whoami
